/* h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
} */
#h1-text {
    color: rgb(189, 186, 12);
    font-size: 3rem;
    text-shadow: 2px 2px rgb(25, 73, 55);
}

#slider-text {
    display: flex;
    flex-direction: column;
    top: 35%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 200px;
    border: 2px solid black;
    border-radius: 100px;
    font-weight: bolder;
}